[2020-04-06 08:08] UnixJunkie opened #2 "parany implementation"
Hi there!
If you are interested, I'll try to send a parany implementation in there soon.

[2020-04-06 08:10] UnixJunkie commented on #2
[code]

I would just need to know how to start a new thread.

[2020-04-06 08:59] kayceesrk commented on #2
That would be useful. Domains can be created with `Domain.spawn`: https://github.com/ocaml-multicore/ocaml-multicore/blob/parallel_minor_gc/stdlib/domain.mli#L5

@sudha247 is working on the same. Some coordination may be useful in avoiding duplicate work.

My idea of the design was to spawn the domains and then use a single shared channel to distribute the work to the workers. This is the idea use

[2020-04-06 09:17] kayceesrk commented on #2
@gasche Also expressed some interest in providing a high-level API.

[2020-04-07 01:12] UnixJunkie commented on #2
@gasche will probably send a parmap version.
Since I am the author (and maintainer) of parany, I am interested by another interface.

[2020-04-07 12:33] gasche commented on #2
I hope that over time (and sooner rather than later, if we want people to be able to experiment with the runtime) we get a diverse library of concurrency patterns (parfoo but also fork-join, etc.). For the very small program I wrote, parmap (and not parfold or pariter) was sufficient (with no chunking), and it is already a reasonably expressive primitive, so I thought it would be nice to start wit

[2020-04-07 12:34] gasche commented on #2
@UnixJunkie I proposed an implementation of a simplistic paralllel `Array.map` in https://github.com/ocaml-multicore/ocaml-multicore/issues/324#issuecomment-610000766 , in case that can be useful to you.

(Also, unrelatedly: thanks for all your recent work on Batteries!)

[2020-04-07 16:26] kayceesrk commented on #2
A simple parallel array processing library would be a good start. I suspect that many mathematical kernels can be expressed using this. Then, I’d like to port the parallel benchmarks in sandmark to use this rather than domains and channels.

One thing I’ve been think is quite important but don’t Know how to do is parallel initialisation. I suspect that sequential initialisation costs would be proh

[2020-04-07 16:36] gasche commented on #2
Here is an interface for a "task pool", in fact "domain pool", that can replace existing simple uses of Unix.fork() for parallelism:

[code]

(It doesn't deal with generating jobs within jobs, which would have an interesting interaction with `join` that I don't know how to implement properly.)

I will implement this and try to change my previous toy benchmark to use it.

[2020-04-08 09:23] UnixJunkie opened #3 "Error: Unbound module Domain"
[code]

[2020-04-08 09:24] UnixJunkie commented on #3
[code]

[2020-04-08 09:29] UnixJunkie commented on #3
[code]
I am not sure this is really multicore-ocaml that is installed.
Because the prompt tells me 4.10.0.
Despite I nuked my ~/.opam and followed the instructions from
https://github.com/ocaml-multicore/multicore-opam.

Maybe I'll play with this later, when I have more time and once this is a little more mature
(like after the new "real-world OCaml" book version tells us how to use
multicore-ocam

[2020-04-08 18:49] kayceesrk commented on #3
I've fixed the `multicore-opam` instructions for opam2.0. The options to install the switch correctly are quite obscure. They're now fixed: https://github.com/ocaml-multicore/multicore-opam#opam-20

[2020-04-08 19:11] kayceesrk commented on #2
I've implemented support for task pools: https://github.com/ocaml-multicore/domainslib/blob/task_pool/lib/task_pool.mli. The API may be a bit obscure on first-look, but this allows the implementation of both coarse-grained parallel programs (like parallel arrays and parallel for) and recursive-parallel programs.

As an example of coarse-grained parallel program, I've ported Game of Life to use par

[2020-04-11 16:46] #3 closed

[2020-04-11 16:47] kayceesrk commented on #2
Subsumed by #4. Hence, closing this issue. Feel free to open a PR for the Parany style API.

[2020-04-11 16:47] #2 closed

[2020-04-13 02:08] UnixJunkie commented on #2
Indeed, parallel_for is a quite useful primitive. It is provided in OpenMP.
By the way, the interface of openmp could give you a list of standard and useful parallel primitives.

[2020-04-13 04:19] kayceesrk commented on #2
Yeah. I need to read the OpenMP spec, at least for naming things sensibly. One primitive that I think would be quite useful is parallel scan. This prefix sum for shared memory processors gives a good basis to implement the more general parallel scan operation: https://en.wikipedia.org/wiki/Prefix_sum#Shared_memory:_Two-level_algorithm.

[2020-04-13 04:45] UnixJunkie commented on #2
Might be useful:
https://www.openmp.org/wp-content/uploads/OpenMP-4.5-1115-CPP-web.pdf

[2020-04-23 07:35] kayceesrk opened #6 "Add support for parallel array initialisation"
Array initialisation is likely to be the source of bottlenecks in parallel workloads. Array initialisation for arbitrary typed elements needs to be sequential since the elements need to be initialised to a sensible value before GC gets to see it. However, for primitive types, `int` and `float`, one can allow parallel initialisation. OCaml supports [`Array.create_float`](https://github.com/ocaml/oc

[2020-04-23 09:39] kayceesrk commented on #6
@sudha247 you might be interested implementing this.

[2020-04-28 16:56] shubhamkumar13 opened #8 "Task library slowdown if the number of domains is greater than 8"
Below are 2 examples, both run Channels' and Tasks' respectively in order

- The first one uses 8 domains.
  + Channels
[code]
   ![Screenshot from 2020-04-28 22-18-36](https://user-images.githubusercontent.com/13629677/80514639-67f26b80-899e-11ea-9bbb-2be271209682.png)

   + Tasks
[code]
   ![Screenshot from 2020-04-28 22-18-03](https://user-images.githubusercontent.com/13629677/80514612-5e690380

[2020-04-30 08:34] kayceesrk commented on #8
Can you also link to where the game_of_life sources are available?

[2020-04-30 10:45] shubhamkumar13 commented on #8
[game_of_life (with task api)](https://github.com/ocaml-multicore/domainslib/blob/master/test/game_of_life_multicore.ml)
[game_of_life (with channels)](https://github.com/ocaml-bench/sandmark/blob/master/benchmarks/multicore-numerical/game_of_life_multicore.ml)

I haven't recreated a similar situation, but I'll do it asap.

[2020-05-01 05:30] kayceesrk commented on #6
Some work in progress to support this upstream: https://github.com/ocaml/ocaml/pull/9513

[2020-05-01 11:38] shubhamkumar13 commented on #8
Time Pre [`aca9ea9`](https://github.com/ocaml-multicore/domainslib/commit/aca9ea9d13539e41c4d05a144c4ac4141bce221d)
|  Domains | Channels | Tasks |
| --- | --- | --- |
|  1 | 50.486 | 50.612 |
|  2 | 25.355 | 25.359 |
|  4 | 12.763 | 12.742 |
|  8 | 6.472 | 6.441 |
|  12 | 4.416 | 4.502 |
|  16 | 3.376 | 3.322 |
|  20 | 2.794 | 2.842 |
|  24 | 2.357 | 3.02 |

Time Post [`aca9ea9`](https://github.c

[2020-05-01 12:04] kayceesrk commented on #8
Ok. This is quite useful. Is there any difference in minor/major allocation / collections? It is not ideal that domain 0 is up to something in the task library at 24 domains. Any insights on how to improve this?

[2020-05-01 13:02] kayceesrk commented on #8
I took a brief look at what's going on using perf

Task based one:
[code]

Channel based one:

[code]

The task-based one executes fewer instructions per cycle. Wonder where the stalls might be? @sadiqj

[2020-05-01 16:52] shubhamkumar13 commented on #8
Sorry 😅️, I had no insights for improving this.

[2020-05-01 19:26] sadiqj commented on #8
Here's an oddity, I'm running `domainslib` 0.2 which doesn't have https://github.com/ocaml-multicore/domainslib/commit/aca9ea9d13539e41c4d05a144c4ac4141bce221d and yet I see very little difference in performance between task and chan on a dual 36 core machine:

`time ./game_of_life_multicore_task.exe 4 256 > /dev/null

real	0m7.614s
user	0m29.458s
sys	0m0.036s
--
time ./game_of_life_multicore_chan

[2020-05-02 07:15] kayceesrk commented on #8
@sadiqj that is encouraging but odd. I could very well believe that the slowdown that we witness only occurs on our machines. We may dig in a little to remove any potential overheads.

[2020-05-19 11:52] kayceesrk commented on #6
Better way to implement this thanks to @stedolan https://gist.github.com/stedolan/f0cb0f5ab24f283d398e48763db1ae62

[2020-06-07 20:59] progman1 opened #11 "installation failure"
I got to
[code]
and was returned:
[code]

with --unlock-base things really get drastic:
[code]

[2020-06-08 05:42] kayceesrk commented on #11
Are you following these instructions? https://github.com/ocaml-multicore/domainslib#installation

I can't recreate this issue locally. What is the output of `opam remote -v`?

[2020-06-08 06:06] progman1 commented on #11
I am, with just a local repo name change.
[code]
with installed:
[code]

[2020-06-08 06:31] #11 closed

[2020-06-08 06:39] kayceesrk commented on #11
No worries. Good that it is sorted now.

[2020-06-13 19:29] runvnc opened #12 "Does parallel_for automatically use a shared memory structure?"
Sorry if this is obvious.  Since I am not super-familiar with Ocaml, I could not tell from my casual browsing of the code whether the data for task chunks was being copied to different workers or whether the data was kept in place and just locked when necessary.

I was trying to find an example that used wait() or something to share an array between threads but I didn't.

[2020-08-05 05:01] kayceesrk commented on #12
The data isn't copied. They're shared between the domains.

[2020-08-05 05:04] #12 closed

[2020-08-05 05:10] kayceesrk opened #13 "`num_domains` argument in setup_pool"
`Task.setup_pool` takes the number of _additional_ domains as the argument and sets up the pool. See for example

https://github.com/ocaml-multicore/domainslib/blob/master/test/game_of_life_multicore.ml#L65

I found this a little unintuitive as `num_domains` seems to suggest that the pool would contain `num_domains` domains. For example, a pool with 2 domains is created with

[code]

Should we cha

[2020-08-05 05:11] kayceesrk commented on #13
If we agree to this, we will need to make a new release, change the tests, and the sandmark benchmarks, at the very least.

[2020-08-07 10:00] ctk21 opened #14 "Interface to query CPU setup, numa information and set affinity"
It might be useful (at least experimentally) to add an interface that allows the user to easily:
 - query the number of CPUs in a system
 - query the NUMA information in a system
 - set the affinity of a domain to a given CPU

Open questions for this are:
 - what exactly should the API be?
 - what cross platform Linux vs Windows vs Other considerations should be taken on board?

[2020-08-13 12:23] sadiqj opened #15 "Fast-path for parallel for/reduce/scan when pool has no domains"
In the case where a task pool has no domains in it, we can have a fast path in the `parallel_*` functions which uses serial constructs and avoids the overhead of queuing/dequeuing tasks.

[2021-02-19 04:38] dalev commented on #8
Hi, I noticed this issue as well.  Just for fun, I built a [simple ray tracer](https://github.com/dalev/path-tracer-ocaml) and parallelized it using `domainslib`.  As long as I use no more than six domains for rendering (plus one domain to tick the console progress bar), things work just fine.  As soon as I ask for seven rendering domains, the program slows down significantly.

Concretely, I can g

[2021-02-20 16:37] dalev commented on #8
Actually, I was able to get perf going in WSL2.  Using `time perf record -g -- _build/default/bin/main.exe -max-threads 7`, the elapsed time is about 18 seconds, and `perf report` shows this at the top:

Whereas, if I run `time perf record -g -- _build/default/bin/main.exe -max-threads 6`, the elapsed time is only 1.8 seconds, and `perf report` shows:

... elided ...

I'm still not sure what the u

[2021-04-28 06:50] Sudha247 opened #23 "Running tests: moving to `dune runtest` from manual commands in `run_test` target"
Currently we use explicit exec commands to run the tests in Makefile: https://github.com/ocaml-multicore/domainslib/blob/master/Makefile#L4-L14.

This process can be automated with the help of `dune runtest` command which runs all the tests by default. With that, commands to run any new tests need not be added manually to `run_test`. Two things that might need care are:
* Arguments are slightly di

[2021-05-04 06:54] SumitPadhiyar opened #25 "Bug in channel implementation using mutex and condition variables"
There seem to be a bug in channel implementation which causes [task_exn](https://github.com/ocaml-multicore/domainslib/blob/master/test/task_exn.ml) test to deadlock or loop infintely. The bug mainfest itself only in some runs otherwise it works fine.

[2021-05-04 07:06] SumitPadhiyar commented on #25
I had debugged the test program and suspect that this has to do with channel implementation using single mutex+condvar for all channels. Exact root cause is when two receivers are waiting for a message [here](https://github.com/ocaml-multicore/domainslib/blob/3d5f79c5cf6a295b8c0652fb7470211b33b05b81/lib/chan.ml#L157) and when sender sends a message [here](https://github.com/ocaml-multicore/domains

[2021-05-04 11:58] ctk21 commented on #25
Thanks for fuzzing domainslib, it is useful.

I'm a bit confused how your proposed fix will work. Isn't there a unique mutex+condition_variable for each waiting receiver in `recv'` already:
https://github.com/ocaml-multicore/domainslib/blob/3d5f79c5cf6a295b8c0652fb7470211b33b05b81/lib/chan.ml#L150

I can see there is the problem if domainslib is used with systhreads.

[2021-05-04 12:25] ctk21 commented on #25
With systhreads and continuations/fibers it is possible for multiple execution contexts (aka 'threads') to share the same `Domain.DLS.get mutex_condvar_key` since `Domain.DLS` is specific at the _domain_ level.

I make fixing the problem with systhreads and continuations/fibers being to replace `Condition.signal` with `Condition.broadcast`.

[2021-05-06 09:10] SumitPadhiyar commented on #25
I agree on the fix of replacing  `Condition.signal` with `Condition.broadcast` as waiting receivers will still check for `ref Msg_slot` to be written, thereby waking up a single waiting receiver.

[2021-05-19 09:06] #23 closed

[2021-05-26 11:38] Sudha247 commented on #13
I'm not particularly inclined towards either; (a) creating pool of `num_domains` as suggested in this issue or (b) creating a pool of `num_domains` additional domains along with the parent domain effectively making it a pool of `num_domains + 1` as is done now. #31 attempts to clarify in the docs that we do (b) now, which I think was not explicitly mentioned.

[2021-06-14 16:10] nilsbecker opened #33 "possible bug in parallel_for_reduce"
i might just be dense here:
[code]
i get `[10;30]` but i believe it should be `[10;20]` . i'm guessing it's in line 79 in task.ml where the global `init` is used to initialize chunks that start somewhere in the middle?
https://github.com/ocaml-multicore/domainslib/blob/0a3b4f3bb64bd2f14c53518c31282ef421b7858c/lib/task.ml#L79

domainslib 0.3.0 on ocaml 4.12.0+domains

[2021-06-14 16:11] nilsbecker commented on #33
setting chunk_size to 1 further shows the issue

[2021-06-15 09:37] nilsbecker commented on #33
maybe the semantics should be such that the initializing value is always `body start` where `start` is the beginning index of the chunk? right now the signature seems to be more like a `fold` operation, but then it's unclear why `init` must be of the same type.

something like :
[code]
gives me expected results

[2021-06-15 09:42] nilsbecker commented on #33
also, it seems that the reduce function is required to be associative, as chunks are reduced and combined in undefined order; indeed using the above `parallel_for_reduce'` with the non-associative `let arithmetic_mean a b = (a + b) / 2` instead of `(+)` again gives results that depend on chunk size. this requirement should be documented clearly.

[2021-06-15 09:44] nilsbecker commented on #33
if all of this is correct, it applies in a very similar way also to `parallel_scan`, which is also not quite like a `fold_left`

[2021-06-15 11:45] nilsbecker commented on #33
for `parallel_scan` i am assuming that it should behave like `Array.fold_left` initialized with the first array element. so i tried this:
[code]
the result are the same only for `(+)`.

[2021-06-17 05:41] Sudha247 commented on #33
Hi @nilsbecker, thanks for the bug report! I have submitted a patch #34 attempting to fix the issue in `parallel_for_reduce`.

That's fair. #34 includes a doc update to mention this is the case for `parallel_for_reduce` and `parallel_scan`.

Indeed, and I believe it would be fairly simple to implement a `parallel_map` with the `parallel_for` abstraction. In my head, a primitive version would look

[2021-06-17 12:04] nilsbecker commented on #33
hi, the fix looks reasonable. one could still consider if it should be stated that `parallel_scan` does twice the work that a sequential `fold_left` would do.

some thoughts about the proposed `parallel_map`:
- it seems weird to require a list and then convert to array immediately. why pretend that it's a sequential thing by having a list interface?
- pool should be the first non-named argument as

[2021-07-12 11:49] Sudha247 commented on #33
The bug in `parallel_for_reduce` has been fixed by #34, so closing this issue.

Agree with your points about parallel map, an interface like the one below could be more suitable:
[code]
If you think addition of parallel map will be useful on domainslib, please feel free to open a new issue for the same.

[2021-07-12 11:49] #33 closed

[2021-07-21 11:27] nilsbecker opened #37 "parallel_map"
As discussen in #33 it appears useful to have a parallel_map function over arrays. The signature would be
`val parallel_map : Domainslib.Task.pool -> ('a -> 'b) -> 'a array -> 'b array` . The pool comes first as in the other parallelization functions.

[2021-07-22 12:42] nilsbecker opened #38 "parallel_scan rejects arrays not larger than pool size"
[code]

[2021-07-22 13:48] kayceesrk commented on #38
@Sudha247 any thoughts on this one? It may be easiest to perform a sequential scan if the size is less than the pool size.

[2021-08-02 08:11] Sudha247 commented on #38
Thanks for the report @nilsbecker. I agree with performing a sequential scan in this case. I have attempted to fix this in #39, it does something similar.

[2021-08-09 19:39] nilsbecker commented on #37
I asked the author of parany for his opinion on a good parallel API. see https://github.com/UnixJunkie/parany/issues/55#issuecomment-894117856 for an answer.

[2021-09-15 12:28] nilsbecker opened #43 "possible bug in Task.pool management"
In the process of experimenting with a domainslib backend for parany I am getting expections `Stdlib.Queue.Empty` raised from Task. I may be doing something wrong but there is a possibility that this is a bug.

I tried to make sure that no domain modifies a global mutable value. Sorry if it's user error nonetheless!

the parany backend is this:

[code]

the idea is that `demux ()` calls generate a

[2021-09-15 12:50] nilsbecker commented on #43
the version below which is somewhat simplified by removing chunking gives the same unexpected behavior (just modify the test file accordingly)
[code]

[2021-09-16 10:11] Sudha247 commented on #43
Hi, I tried to run your first test and did not see the exception, it runs find and prints the output.

There was a known bug with `Format` module being called concurrently, that's since been fixed in https://github.com/ocaml-multicore/ocaml-multicore/pull/586. I reckon updating the compiler to the latest commit could actually fix this exception. Please let us know otherwise.

[2021-09-16 10:50] nilsbecker commented on #43
thanks for checking. the exception was actually raised only on some runs of the program, from Domainslib.Task: `Raised at Domainslib__Task.await in file "lib/task.ml", line 55, characters 22-29`. so it appeared to have no connection to Format. in any case i will try to pin a newer compiler version and try again.

[2021-09-16 12:14] nilsbecker commented on #43
i retried with the current 4.12+domains+effects branch and now i do not get this exception anymore. i also do not see any intermediate strings printed coming from worker domains. all output appears only at the very end of program execution. is this intended? is there a way to get intermediate strings so stdout before child domains join?

[2021-09-16 12:49] nilsbecker commented on #43
on further testing i still find unexpected behavior also on the current 4.12+domain+effects branch.

increasing n_cores to higher values makes the test program hang.  for me, n_cores=13 still works but 14 hangs or segfaults. To reproduce, modify the test program to include this line: `let _ = Parany.run 14 ~csize ~demux ~work ~mux` -- for your machine it may happen at a different value of course.

[2021-09-17 04:46] Sudha247 commented on #43
I couldn't get the program to segfault or hang. Could you please provide a gdb backtrace for the segfault, if possible?

[2021-09-17 04:52] kayceesrk commented on #43
You can flush the stream explicitly with `%!` format modifier. In particular, the newline `\n` character does not flush the buffer. If you want the output to be printed, you should be able to do:

[code]

[2021-09-17 08:24] nilsbecker commented on #43
@kayceesrk i thought i had already asked it to flush each time by using `@.` (https://ocaml.org/api/Format.html#fpp) , see the test script above. does only `%!` work in multicore?

@Sudha247 i think gdb will not work for me as i'm on macos. if you can give me a command to invoke on macos i'll gladly send output!

[2021-09-17 09:52] kayceesrk commented on #43
can you run the program under `lldb`?

Also, I'd like to debug the flush issue. The test file seems to have a unclosed paranthesis. Is there a line missing?

[2021-09-17 11:18] nilsbecker commented on #43
yes indeed. sorry about that. the last line is
[code]
i'm trying lldb. so far i get output interactively. i should be able to get it to write to a file.

[2021-09-17 11:33] nilsbecker commented on #43
ok, i got a backtrace from lldb saved. it was generated by "bt all" and should contain all threads' stacks
[backtrace.txt](https://github.com/ocaml-multicore/domainslib/files/7185235/backtrace.txt)
.

[2021-09-17 15:01] nilsbecker commented on #43
also i should note that the segfault appears also without any calls to Format.

[2021-09-18 04:41] kayceesrk commented on #43
That's useful. Thanks for the example. We can rule out Format as the source of the segmentation fault.

[2021-09-18 19:49] nilsbecker commented on #43
absolutely. this is the directory with my test project. as i said i ended up using the current 4.12+domains+effects branch as a compiler. the test program ist called scratch.ml; the parany backend implementation is called parany.ml (this is not the original parany, nor the new domainslib based parany recently posted on discuss.ocaml.org)

[domainslibtest.zip](https://github.com/ocaml-multicore/dom

[2021-09-20 04:56] kayceesrk commented on #43
Thanks @nilsbecker. Let me have a look at recreating the bug. I'll be using an MacBook Pro with an i7 processor. Let's see if I can trigger the bug.

[2021-09-20 08:36] nilsbecker commented on #43
thanks. for me it was necessary to increase n_cores to some value around 10. for 4 it ran through without errors. just fyi

[2021-09-30 04:51] kayceesrk opened #46 "Provide a way to iterate over all the pools"
It will be useful to have a way to iterate over all the pools that are created in domainslib. One use case is to teardown all the pools. But there may be others (stats?). See relevant discussion at https://github.com/ocaml-multicore/domainslib/pull/45#issuecomment-930224410.

The data structure to use for this would be the Weak hash set https://ocaml.org/api/Weak.html#1_Weakhashsets, which will ho

[2021-10-06 22:31] edwintorok opened #47 "Task.await deadlock (task finishes but await never returns)"
Is it valid to nest Task.await inside a Task.async, and to nest Task.async inside Task.async? (I would assume so, otherwise how would you implement a monadic bind using async+await)

I attempted to write a version of `parallel_for` that works on a stream, and not on an array of known size.
It looks like this (with some debugging sprinkled in), but gets stuck in Task.await with an infinite loop on

[2021-10-06 23:23] edwintorok commented on #47
I tried adding some debugging into domainslib (there is probably a better way but just used printfs here): https://github.com/ocaml-multicore/domainslib/compare/master...edwintorok:debug?expand=1

And I got this snippet:
[code]

So 785 was waiting on 784, then 784 got its result set with Atomic.set, but later on Atomic.get for 784 stil returns none, which is weird. I could understand a little bit

[2021-10-07 22:45] edwintorok commented on #47
Simplified form reported on ocaml-multicore tracker, seems to be an OCaml compiler/runtime issue, not just a domainslib issue.

[2021-10-08 08:57] kayceesrk opened #48 "Move `ws_deque` to lockfree"
The work-stealing deque in domainslib [1] seems useful to have outside of domainslib. We should perhaps move this to `ocaml-multicore/lockfree` and make `domainslib` depend on `lockfree`?

Also, I'd archive the current `lockfree` library and start afresh since the current implementation predates the OCaml memory model [2].

[1] https://github.com/ocaml-multicore/domainslib/blob/master/lib/ws_deque

[2021-10-08 09:03] kayceesrk opened #49 "Should we expose multi-channel from the library?"
Is the multi-channel implementation something that Multicore OCaml users would likely require? Domaslib provides FIFO channels. Would the Non-FIFO multi-channel implementation be useful additionally?

One downside is that multi-channel does not have a pleasant API as FIFO channels do. IIUC, domains that wish to use the multi-channel will have to register their intent to use the channel. Is that ri

[2021-10-10 22:40] edwintorok commented on #43
As an additional datapoint this segfaults on Linux too using 4.12.0+domains and domainslib.0.3.1 on an AMD  Ryzen 3900X CPU and the instructions from https://github.com/ocaml-multicore/domainslib/issues/43#issuecomment-922364160

[code]

`r12` there looks wrong: 0x3 (as if it was NULL pointer + an offset).
r12 originally came from rax (which as since been overwritten), so it looks like it supposed

[2021-10-10 22:59] edwintorok commented on #43
@kayceesrk hope you don't mind I opened a PR with a possible fix.

[2021-10-11 09:27] kayceesrk commented on #43
Thanks very much for the PR! Much appreciated :-)

[2021-10-30 19:46] mbacarella opened #55 "setup_pool: option to exclude the current/first domain?"
I notice there's no way to exclude the first domain from the Task pool. Is this a design invariant?

One concern I have with this is that in some environments the first thread has special status. E.g. on MacOS the first thread is the only one that's allowed to call into the GUI/video system. I believe the nVidia GPU drivers on Linux also require this.  So, for these applications, these are threads

[2021-11-01 13:06] avsm commented on #55
I think it should be possible to exclude the current domain in the interface. Would you have any pointers to the relevant developer docs for the Linux/macOS cases you reference above? I couldn't find anything on a quick search about the various affinity requirements.

[2021-11-01 13:46] mbacarella commented on #55
Firstly I'd like to say I'm really excited about multicore since it speeds up *interactive* application performance use-cases quite nicely in initial tests. My hands were shaking from excitement when I saw the results!

Re: affinity requirements, I don't have a primary source from Apple SDK docs, [but](https://stackoverflow.com/questions/7425983/in-apples-cocoa-api-why-is-it-important-that-nsappli

[2021-11-02 08:32] kayceesrk commented on #55
Thanks for the feature request. The use case for not having the main thread be part of the pool seems valid. FWIW setting up the pool only creates the additional worker domains which wait for work (asyncs) to be pushed on the queue. It is the further calls to `async`, `await` and `parallel_for*` that creates makes the caller pick up steal work from the queue.

One way to achieve this is to provide

[2021-11-03 14:38] mbacarella commented on #55
Hi @kayceesrk, that sounds like it would suffice, yes.

[2021-11-19 12:33] jmid opened #56 "size -1 returned by ws_deque in parallel usage"
Following a suggestion from @kayceesrk I've played with testing ws_deque and encountered an issue.
I'm testing it in isolation - just with `int`s and in parallel from `Domain`. I'm unsure if this scenario is relevant to its usage in domainslib, but it should be relevant if we decide to pull out `ws_deque` as a general reusable, lock-free data structure (#48).

The test calls 4 functions from the d

[2021-11-19 23:21] jmid commented on #56
I'll close this again.
The paper "Correct and efficient work-stealing for weak memory models" states that
*"push and pop operations execute on a single thread"* which the test is violating.

[2021-11-19 23:21] #56 closed

[2021-12-10 12:32] jmid opened #57 "Non-termination of some Task.async/await runs"
I'm experiencing issues where simple Task.async/await usage in some runs cause non-termination.

`dune`:
[code]

`task_issue_414.ml`:
[code]
When I run it, the first 1-5 iterations go well (numbers are printed) until some iteration where 2-CPUs out of 4 on my laptop take turns to spike to 100% - without the program going further. The CPU activity indicates that the underlying tasks are trying (but

[2021-12-10 21:16] jmid commented on #57
Sorry, my bad. These tests had not been updated to use `Task.run` as is now required 🤦‍♂️

[2021-12-10 21:16] #57 closed

[2021-12-10 21:59] jmid opened #58 "Segfault with two task pools"
The following program triggers a segfault on my machine.

dune:
[code]
task_issue_crash.ml:
[code]

[code]

I think that the `Task.run` usage abides by the specification:
[code]

I get a segfault running it on both
 - 4.12+domains (installed through opam IIRC) and
 - 4.14.0+domains+dev0 git hash '318b23950' installed manually from the latest git version yesterday (Thu, Dec.9)

and with the latest

[2021-12-20 14:16] jmid commented on #58
I've dug a bit to investigate this issue. Running through `gdb` reveals:
[code]

With the following stack trace:
[code]

Arising from these lines:
https://github.com/ocaml-multicore/domainslib/blob/df30722546e2721aba664b6bd43e186491e22539/lib/ws_deque.ml#L126-L128
https://github.com/ocaml-multicore/domainslib/blob/df30722546e2721aba664b6bd43e186491e22539/lib/multi_channel.ml#L111-L113
https://gith

[2021-12-20 14:28] jmid commented on #58
I've also tried changing the example to be closer to the 2 work-pool example in [test/test_task.ml](../blob/master/test/test_task.ml).
The result also segfaults on my machine:
[code]

[2021-12-20 14:47] jmid commented on #58
Out of curiosity, to try the setup with different domain sizes in each pool I just tried changing test/test_task.ml:
[code]
The resulting program also segfaults on my machine.

[2021-12-20 15:07] kayceesrk commented on #58
This PR is still not merged: https://github.com/ocaml-multicore/domainslib/pull/50. Perhaps explains the issue?

[2021-12-20 20:36] jmid commented on #58
Ah yes, thanks! With this PR they all run smoothly. I found a minor remaining issue - but I'll report that separately.

I've resolved the conflicts from merging @edwintorok's PR against the latest master and added the crash test on top.
The result is available here: https://github.com/jmid/domainslib/tree/unique-key-updated
I can create a PR from that if you prefer - but I don't want to step over

[2021-12-20 21:18] jmid opened #59 "Off-by-one error in `Task.parallel_scan`"
Consider the following program:
[code]
It runs a `Task.parallel_scan` with operator `(+)` - an operator which is both commutative and associative as required.

The result however varies with the the domain count:
[code]
Note how for `~num_additional_domains:1` the final array entry is wrong.
Also note how `~num_additional_domains:10` triggers an `"index out of bounds"` error (this can also be trea

[2021-12-21 04:07] kayceesrk commented on #59
@Sudha247 We had one-off errors previously as well. Do you know if these are related? Could you have a look at this, please?

[2021-12-21 11:10] Sudha247 commented on #59
Thanks for the report @jmid! Please see #60 for a proposed fix.

[2021-12-22 06:49] #43 closed

[2021-12-22 10:19] jmid commented on #58
Solved with the merge of #50

[2021-12-22 10:19] #58 closed

[2021-12-22 11:07] kayceesrk commented on #59
Fixed by #60.

[2021-12-22 11:07] #59 closed

[2021-12-22 11:08] kayceesrk commented on #47
Fixed by #51.

[2021-12-22 11:08] #47 closed

[2021-12-23 05:52] Sudha247 commented on #38
Fixed by #60.

[2021-12-23 05:52] #38 closed

[2021-12-23 06:09] Sudha247 commented on #15
Addressed for `parallel_scan` too now (cf. f8cea3b251080e464eacb83e27cf6c12f397e2e8).

[2021-12-23 06:09] #15 closed

[2021-12-24 07:08] Sudha247 commented on #8
Domainslib has evolved quite a bit since this issue was reported for game of life benchmark. Notably, the task library has a Chase-Lev work-stealing queue underneath for scheduling tasks (#29) and uses effect handlers to manage task creation (#51).

I ran the same benchmarks again on domainslib.0.4.0 and here are the numbers for `256 2048`:
| Cores | Task  | Chan  |
| ----- | ----- | ----- |
| 1

[2021-12-24 07:08] #8 closed

[2022-01-18 04:04] kayceesrk opened #62 "CI should use ocaml/ocaml#trunk"
The 4.12 domains and domains+effects variants are no longer maintained.

[2022-01-20 09:40] #62 closed

[2022-02-28 12:07] shakthimaan opened #66 "`Domainslib.0.4.1` build failure with `OCaml 5.0.0+trunk`"
Sandmark 5.0.0+trunk (commit `1e52236624bad1c80b3c46857723a35c43974297`) fails to build `Domainslib.0.4.1` with the following error message:

[code]

What is the recommend fix for the same?

[2022-02-28 12:36] Sudha247 commented on #66
Thanks for the report! A fix is here https://github.com/ocaml-multicore/domainslib/pull/65, will make a new release soon.

[2022-03-03 06:55] Sudha247 commented on #66
`domainslib.0.4.2` works with `5.0.0+trunk`. Closing this issue.

[2022-03-03 06:55] #66 closed

[2022-03-20 02:04] c-cube opened #68 "scope of domainslib"
Hi! Would domainslib be a good place to provide more concurrency building blocks, such as this?

- mpsc queues
- concurrent hashmap
- an equivalent of parking lot

[2022-03-20 03:52] kayceesrk commented on #68
@c-cube I assume mpsc queues and hashmap are non-blocking data structures. A better place for these would be https://github.com/ocaml-multicore/lockfree/. Lock-free needs a big clean up, but here is my thought process between domainslib and lock-free.

Domainslib includes "blocking" data structures such as channels (which block domains) and tasks with async/await (with their notion of lightweight

[2022-03-20 04:22] c-cube commented on #68
parking lot is a C++ concurrency library used in webkit/chrome, with locks, queues, etc. :)
An interesting link: https://webkit.org/blog/6161/locking-in-webkit/

it's also one of the most popular [rust crates](https://crates.io/crates/parking_lot) with the same inspiration.

Thanks for the link to lockfree, I think I forgot its existence. I wrote [a queue](https://github.com/c-cube/ocaml-container

[2022-03-21 15:33] kayceesrk commented on #68
Thanks. @Sudha247 is going to clean up lock-free quickly, and seed it with the lock-free queue implementation from domainslib: https://github.com/ocaml-multicore/domainslib/blob/master/lib/ws_deque.ml. We may then be in a position to accept PRs.

[2022-04-07 12:09] Sudha247 commented on #68
Hey @c-cube, I've cleaned up lockfree, any PRs for adding non-blocking data structures appreciated! (https://github.com/ocaml-multicore/lockfree)

[2022-04-23 11:01] jmid commented on #48
This is addressed with the release of lockfree 0.2.0 and #70

[2022-04-23 11:01] #48 closed

[2022-05-18 05:40] kayceesrk opened #71 "Domainslib description on OPAM"
The opam description for `domainslib` says the following

[code]

I think we should rename this to "Nested-parallel programming library".

[2022-05-31 14:09] OlivierNicole opened #72 "Possible data races in Chan"
I'm currently experimenting with a [ThreadSanitizer instrumentation pass for OCaml](https://github.com/OlivierNicole/ocaml/wiki/ThreadSanitizer-for-OCaml) that allows to detect some data races in OCaml programs.

When running Domainslib's test suite, ThreadSanitizer reported two possible data races in `lib/chan.ml`:
- One between between the read at [line 110](https://github.com/ocaml-multicore/do

[2022-06-01 12:08] haesbaert commented on #14
I'd like to take up on this, I wrote the cpu topology used in OpenBSD ages ago so hopefully I can contribute something.
@dra27 expressed interested in also having some functionality in the standard standard library, so I'm CCing him.

What follows is just a collection of thoughts, so take it all with a grain of salt, please :).

### Topology
On the very basic, we could provide a smt (thread) count

[2022-06-02 08:35] haesbaert commented on #14
So I'm building this: https://github.com/haesbaert/ocaml-cpu
So far only support for getting number of threads, setting and getting cpu affinity, works without multicore/Domains, only linux but I'll work on the rest.
[code]

[2022-06-02 08:52] kayceesrk commented on #14
Thanks @haesbaert. In general, we're avoiding the term "threads" in OCaml 5 since we have multiple notions of threading -- domains, fibers and systhreads. I'm leaning towards `num_cores`, where I'm using "cores" as a proxy for available units of parallelism. If hyperthreading is enabled, does`num_cores` return the number of hardware threads or physical cores?

Before we expose `set_affinity` and `

[2022-06-02 09:46] haesbaert commented on #14
If we avoid the term "threads" I think "cpus" should be used to refer to "logical cpus/threads". I believe most people associate "num_cores" with an actual core (as in the parent of threads).

As discussed on Slack, most OSes usually just give us a "get_cpu_count" which return the total number of logical cpus (aka threads), so if hyperthreading is enabled it will return twice the number of cores,

[2022-06-10 15:25] OlivierNicole opened #74 "Possible data races in Task.parallel_scan"
Once again I report a ThreadSanitizer data race warning. I haven't had time to flesh it out yet, but I intend to look at it more closely soon.

## How to reproduce

Pin Domainslib to revision `b8de1f71`. Pin qcheck to revision `f09f42d0`. Switch to the [ThreadSanitizer-instrumenting compiler](https://github.com/OlivierNicole/ocaml/tree/tsan) and build and execute the following test (from https://g

[2022-06-13 14:51] OlivierNicole commented on #74
The first race is between: https://github.com/ocaml-multicore/domainslib/blob/3a74279e2463eb6d7389c92ebd5cef7807274b72/lib/task.ml#L214
and the initializing write at https://github.com/ocaml-multicore/domainslib/blob/3a74279e2463eb6d7389c92ebd5cef7807274b72/lib/task.ml#L210
so, according to the memory model, not a real race, as there is supposed to be a synchronization between an initializing writ

[2022-06-14 15:17] OlivierNicole commented on #74
The second race is between two writes in the `prefix_s` array, at https://github.com/ocaml-multicore/domainslib/blob/3a74279e2463eb6d7389c92ebd5cef7807274b72/lib/task.ml#L231-L235 and https://github.com/ocaml-multicore/domainslib/blob/3a74279e2463eb6d7389c92ebd5cef7807274b72/lib/task.ml#L238-L242

The thing is that the `parallel_for` actually waits for all operations to complete (via `await`), so

[2022-06-14 21:52] kayceesrk commented on #74
It might be worthwhile to check whether the `Array.copy` primitive has the necessary synchronisation. A release fence.

[2022-06-15 08:53] OlivierNicole commented on #74
The copying is performed in `caml_array_gather`; in the case of small arrays (which is the case in this test), the array is allocated in the minor heap and a plain memcpy is used.
https://github.com/ocaml/ocaml/blob/50b09531f658c1ebe502cb566dee52c3e32d3c61/runtime/array.c#L448-L460

Maybe some code paths do not go through the fence when that array is promoted to the major heap. (Is it always promo

[2022-06-15 12:20] OlivierNicole commented on #74
There is in fact no question of promotion, as it was pointed out to me that it is no longer necessary in the stop-the-world minor collection design that was retained. We still need a fence, though, and indeed there isn't one in `caml_array_gather` (used by `Array.copy`, `append` and `concat`).

[2022-06-16 15:21] OlivierNicole commented on #74
I'm taking the liberty of pasting here an explanation by @kayceesrk from a discussion on Slack:

Looking closer, the race here is between the initializing write (a plain store) in `Array.copy` and a **read** in `caml_modify`. Indeed, before doing a store, `caml_modify` does a plain load (argument `*fp`):
https://github.com/ocaml/ocaml/blob/357b42accc160c699219575ab8b952be9594e1d9/runtime/memory.c#

[2022-06-17 09:18] OlivierNicole commented on #74
From my (not very experienced) point of view this one is technically a real race… maybe @sadiqj, @maranget or @damiendoligez have an opinion about it?

[2022-06-19 12:04] darioteixeira opened #75 "Clarify usage patterns of Task.run"
I realise the library's API and documentation are still a work in progress, but currently it doesn't seem to fully leverage the type system to ensure proper usage. Case in point: function `Task.parallel_for` (and its siblings) will throw an exception unless invoked within a `Task.run` context, but nothing about its type suggests this. Suppose that instead the signatures for `Task.run` and `Task.pa

[2022-06-19 16:46] kayceesrk commented on #75
The proposed solution won't work. You may store the context in a global ref and use it in a context without a `Task.run` In scope.

We shall aim to clarify the documentation.

[2022-07-11 19:27] haesbaert commented on #14
I have released https://github.com/haesbaert/ocaml-processor which hopefully addresses this.

[2022-07-19 13:15] favonia opened #77 "Do new pools "own" the current domain?"
I could not tell whether a newly created pool "owns" the current domain. In one of the test files, there are consecutive calls to `setup_pool`:

https://github.com/ocaml-multicore/domainslib/blob/15f04f3e3dfed3e6d1f96e0bfc4525bfc590355b/test/test_task.ml#L40-L41

Therefore, it seems okay to have multiple pools sharing the same domain (that is, the current domain). However, the documentation gave m

[2022-07-27 12:20] favonia opened #79 "Why should the binary operator for parallel_for_reduce/scan be commutative?"
Parallel reduction should work for any non-commutative binary operator as long as it is associative. A typical example is matrix multiplication, which is associative but not commutative. A naive reading of the code gave me the impression that the library will work for n-ary matrix multiplication (or any semigroup). I wonder why the documentation says the operator must be commutative? And if it is

[2022-08-23 07:46] #79 closed

[2022-08-24 05:30] kayceesrk opened #83 "README.md still refers to `num_additional_domains`"
`num_additional_domains` has been changed to `num_domains` in #78. But the README file still refers to `num_additional_domains`. See https://github.com/ocaml-multicore/domainslib#domainslib---nested-parallel-programming.

This should be a quick documentation fix.

[2022-10-11 06:00] Sudha247 commented on #83
Fixed in #86.

[2022-10-11 06:00] #83 closed

[2022-10-11 06:12] Sudha247 commented on #71
Updated for the new release at https://github.com/ocaml/opam-repository/pull/22236. Do we want to update the descriptions in the older versions too?

[2022-10-11 09:33] kayceesrk commented on #71
If this is easy to do (and not looked down upon), sure. Perhaps @kit-ty-kate would know.

[2022-10-11 12:49] dra27 opened #87 "Make `num_domains` argument to `Task.setup_pool` optional"
The OCaml 5.0 includes `Domain.recommended_domain_count` which seems to be a reasonable default value for `Task.setup_pool`. Making the argument optional is code-compatible with existing code.

This would also create a mechanism within `Task` to use `Domain.recommended_domain_count` without incurring the "unstable" alert on the `Domain` module.

[2022-10-11 21:03] artempyanykh opened #88 "Unhandled exception in parallel_for"
I'm running ocaml5~alpha1 with flambda on an Apple M1. The code below consistently crashes with the following exception:
[code]

The code (file: `domain_pool.ml`):
[code]

The error manifests both with the currently released version in opam and when pinning to the latest dev.

[2022-10-12 05:04] Sudha247 commented on #88
Hi @artempyanykh, `Task.parallel_for` should be enclosed with a `Task.run`, as mentioned here: https://github.com/ocaml-multicore/domainslib/blob/master/lib/task.mli#L37-L40. Your code snippet would then be:

[code]

[2022-10-12 12:00] artempyanykh commented on #88
Thanks for clarifying @Sudha247! This answers my question. I wonder, though, if the exception could be more specific rather than just `Unhandled`? Having an exception pointing to the fact a task has to be enclosed in `run` could help great with understandability/debuggability.

[2022-10-12 12:00] #88 closed

[2022-10-15 02:31] craff opened #89 "support enough primitives to implement exists and for_all in parallel"
This typically requires propagating exception and cancellation.

[2022-10-15 07:49] gasche commented on #89
In #90 I propose

[code]

which lets one easily derive `exists`, `forall` but also value-returning versions.

[2022-10-17 11:24] kayceesrk commented on #87
This sounds like a good idea.

Separately, I am also wondering whether to make the `pool` an optional argument. The current `pool` can be fetched from the context now that we have an effect handler in `domainslib`.

[2022-10-18 13:44] gasche commented on #77
I came here because I was bitten by the *new* API which I found confusing, and I was about to open an issue saying "hey maybe we should rename this parameter into `number_additional_domains`. Running in circles!

The code I wrote would do

[code]

and @Sudha247 sharp-eyedly [remarked](https://github.com/ocaml-multicore/domainslib/pull/90#discussion_r996941677) that this was wrong. It may be wrong

[2022-10-18 13:50] gasche commented on #77
(If others agree that the current state is not really satisfying, I think the present issue could be reopened.)

[2022-10-18 13:56] haesbaert commented on #77
Would just add a small nit here, it's easier to only expose an API that gives you "maximum number of workers", and to not write code that expects to be a participating worker. As in:
`D0 -> forks recommended_domain_count -> wait for completion`
It's ok to waste one extra domain, no one is going to jail, the cost is negligible.

[2022-10-18 14:13] gasche commented on #77
I agree that it's a simpler model to think about. If we wanted to go this way (present this as the expected usage mode), we could probably also simplify the implementation of Task (which currently I find a bit hairy) to follow this model.

On the other hand: I can see how to use Domainslib to build "parallel building blocks" (`parallel_for`, `parmap` etc.) that should remain low-overhead in the ca

[2022-10-18 14:19] haesbaert commented on #77
And I think this is fine, if you can't afford to pay one IPC or whatever to do a parallel computation on N Domains (where N is close to be normally 8 in 2022) I'd say something is already wrong. If that's too expensive than the computation should not be parallelized (it wouldn't pay off anyway).

[2022-10-18 14:34] gasche commented on #77
On an unrelated note: one benefit I would expect from rethinking the API a bit is that the Task operations (`async`, `await`, `parallel_for` etc.) should not require a `pool` parameter anymore. Currently we can only call those functions under `run`, and we have to pass the pool to `run`, but also to these functions. (Note that, unlike `await`, `async` is not implemented with an effect currently, a

[2022-10-19 17:02] favonia commented on #77
As the "author" of this issue, I support rethinking the API. My original concern is really about the obvious inconsistencies (which are now fixed). Maybe `get_num_domains` indeed should not add one to the size of the pool. I understand the collision of different intuitions/views and sadly do not have a good proposal here. :sweat_smile:

[2022-10-19 19:10] gasche commented on #77
There are also implementation issues arising from this API confusion. For example, currently if you share a pool between two independent domains and they both call `Task.run` on separate tasks, one of the domain may end up running tasks from the other domain instead of completing its own task. This is unexpected (to me), but closer to what the previous documentation would say (in a certain sense t

[2022-10-19 22:10] favonia commented on #77
Well, I think "previous documentation" here might be misleading. It was not clear (to me) before #78 whether the calling domain participates at all, and thus I made the PR to document the existing behaviors more precisely. Perhaps you meant the name `num_additional_domains` matches your intuition better? :slightly_smiling_face: Personally I think there will be confusing cases either way until we r

[2022-10-20 05:06] Sudha247 commented on #77
Thanks everyone for the comments! Reopening the issue to continue discussion.

@favonia is right in that the previous documentation was inconsistent with the implementation. I can see how the current one could be confusing too.

[2022-10-20 06:55] kayceesrk commented on #77
I found `num_additional_domains` to be smelly. It is not clear what it is an "addition" of. What's the missing part? Similar to @gasche, my thinking was that we should separate out the notion of pools and asynchronous tasks being executed on the pools. Following that reasoning, a pool is an abstraction that has N "worker" domains. Hence, creating the pool should take `num_domains` and not `num_add

[2022-10-20 15:59] favonia commented on #77
What I understand is that this could lead to the somewhat surprising behavior @gasche observed, that is, if a pool is assigned with two tasks, then Domain 1 could work on the task assigned by Domain 2. Psychologically I think it's easier to let the waiting domain idle (at least after ocaml/ocaml#11589) at some cost of efficiency, treating the pool as some cloud service. This would also rules out t

[2022-10-20 19:01] gasche opened #92 "sketch proposal / brainstorming for the Domainslib API"
In #77 we discussed the API of domainslib, and the fact that one could consider several changes, small or large. On my commute back today I tried to "brainstorm" on what another API for domainslib could look like -- same capabilities as today, but with a clearer separation of concern between the various pieces of the implementation. The result is included below for discussion.

[code]

[code]

[co

[2022-10-20 19:20] gasche commented on #77
I propose an API sketch in #92. It's not magically solving problems, but I tried to separate the various concerns, and I believe that it would make things easier to think about.

Note: it's interesting to wonder about whether it is possible, in the middle of an Task computation, to run certain tasks on a dedicated pool. (This is the Tezos use-case of using separate pools for IO vs. crypto, when th

[2022-10-20 19:24] favonia commented on #92
I think this is moving in a brighter direction. Question: it seems impossible for `Task` to work with more than two `Workset.t` at the same time. It is intentional? If not, perhaps some suggestions in #77 (e.g., using functors) could help?

[2022-10-20 19:44] gasche commented on #92
I'm not sure what your distinction is between anonymous and non-anonymous worksets, but I realized that I forgot to expose a `Workset.make` function, which is probably related. It is added now. In my imagination, `Task.run` is a convenience helper function that creates a workset, starts a fresh domain pool on that workset, and then calls `Task.run_with_workset`.

I *think* it is possible to mix di

[2022-10-20 19:52] favonia commented on #92
Got it. (By "anonymous" I meant "worksets created internally by `Task.run`" and by "call `run` to switch" I meant exactly "nesting `run_with_workset`". Just fixed my previous comment to replace "`run`" with "`run_with_workset`".)

[2022-10-21 04:56] kayceesrk commented on #92
Is the distinction between `workset` and `pool` necessary? What's the usecase?

Relatedly, what would be the semantics of `set_workset` if the pool is already servicing a workset. Specifically, what happens to the jobs that are currently being serviced by a domain in the pool when a new workset is specified?

[2022-10-21 05:02] kayceesrk commented on #77
This is sub-optimal and I am worried about this choice. Remember that idle domains don't sit idle and must participate in GC. So if I have 4 cores, and I create a pool with 4 domains with the initial domain sitting idle, during a GC, all 5 domains are expected to work on the GC. Given that the minor GC is a stop-the-world parallel GC, the cores will be overcommitted with 5 domains on 4 cores. This

[2022-10-21 09:13] gasche commented on #92
My intuition is that separating the two concepts makes them both simpler, easier to specify and reason about. Currently it is weird that a task runner may steal jobs from a domain pool when it is blocked waiting on something else, and I think it is the root cause of the confusion that is discussed in #77. With the separated design, worksets are just a concurrent data-structure storing jobs, while

[2022-10-21 10:02] gasche commented on #92
Thinking about it, my own "advanced example" above is a bit silly, because instead of having independent worksets and a lock on `set_workset` usage one may just as well lock the usage of the current pool, which can already be done with the current API. `set_workset` remains important to express other things, in particular the ability to join two domain pools to work for the same task runner, but a

[2022-10-21 11:35] gasche commented on #77
This is somewhat of a tangent, but do you have a rough idea of the performance cost of this "over-committing during the minor GC" issue that you described? It sounds like something interesting to keep in mind when writing multi-domain OCaml programs, specific to the current runtime choice. What are the ballpark figures to keep in mind? (In general, can we quantify the cost of having more domains t

[2022-10-21 15:45] kayceesrk commented on #77
When all the cores actively perform “work”, we’ve observed precipitous drop in performance when the cores are overcommitted. With an idle domain, i don’t have a good sense. We may try to run some of the parallel benchmarks from Sandmark with an extra idle domain to quantify the costs. My expectation is that the hit will be not be insignificant. The idle domain at least needs to scan its roots.

Re

[2022-10-21 16:00] haesbaert commented on #77
I just came to say I'm glad you asked, I had the same bias/intuition and reading KC response I realize I'm very likely wrong.

[2022-10-24 14:08] gasche commented on #92
Thinking about it again: I've grown convinced by @kayceesrk's point that separating pools and worksets is probably API over-engineering. Below is a simplified API where pools have an explicit function to steal a job.

[code]

[code]

[2022-10-24 18:41] favonia commented on #92
I like the new API. I have another idea---can we drop the `parallel_` prefix?

  * `iter`/`for_`: the current `parallel_for`
  * `reduce`: the current `parallel_for_reduce`
  * `scan`: the current `parallel_scan`
  * `find`: the current `parallel_find` (btw, this is semantically a special case of `reduce`, but potentially supports early termination?)

While we are on it, I wonder if it makes sense

[2022-10-25 11:27] Sudha247 commented on #77
I've also observed the slowdown introduced by idle domains, presumably due to the shared GC work, as noted by @kayceesrk. I tried to quantify it by benchmarking with idle domains present during the entire course of the program, and with the idle domains doing no mutator work, as would be the case were the waiting domain be kept idle. I picked three examples for this, [`game_of_life`](https://githu

[2022-10-25 12:29] gasche commented on #77
Thanks! Be careful in interpreting the GC statistics above that I think the GC-statistics code is currently buggy. In fact many of the stats you show contain the bug that `top_heap_word` is smaller than `heap_words`, which I found yesterday (while... trying my own experiment on the side to understand the influence of domain counts) and reported as https://github.com/ocaml/ocaml/issues/11663 .  So

[2022-10-25 15:14] gasche commented on #77
I pushed my little benchmark at https://gitlab.com/gasche/idle-domains-bench

On my Linux machine with "4 cores but 8 threads" (`recommended_domain_count` is 8), with Firefox and what not running at the same time, the results look as follows:

[code]

each line represents a series of run with the same number of worker domains doing the same computational work (the Knuth-Bendix benchmark of the com

[2022-10-25 15:17] gasche commented on #77
My reasoning is that if the minor heap is not too large and minor collection runs often enough (which is not necessarily how your OCaml application is configured), and the task itself takes a long time to compute, then a blocked domain would see one non-empty minor collection and then many empty minor collections, so it would benefit from an empty-minor-heap optimization.

[2022-10-25 16:32] kayceesrk commented on #77
Thanks for the numbers. They are interesting to read.

@Sudha247 did you run them on the "tuned" machines? If so, these machines change the scheduling policy in order to schedule the programs on isolated cores. This may be the reason for the increased costs. We use `chrt -r 1` IIRC. This number looks suspicious

[code]

I assume you are running with the rest of the isolated cores (24 in total) ava

[2022-10-25 19:04] gasche commented on #77
Just to be clear, I don't want to insist on having idle domains, and I think that your idea of having the API that maximizes performance, possibly at the cost of some complication, is sound. (I also wouldn't assume that other OSes have schedulers that are also good with idle domains; the assumption that they don't cost too much may not be portable.) But I was curious to quantify the cost to unders

[2022-10-26 05:35] kayceesrk commented on #77
We should confirm that @Sudha247's results are sound.

With our benchmarking machines, we're doing what one may expect a parallel scientific job run may do. Isolate cores, allocate 1 domain per isolated core and use round-robin scheduling. Under the assumption that the cores are not overcommitted, the scheduler does not have to do any work. This method was able to get 5-20% more performance than r

[2022-10-26 05:54] kayceesrk commented on #92
The new API is better. More questions:

1. Is the type `job` the same as a `task`? See `steal_job_poll`.
2. Do we know that `steal_job_poll` is useful? Is this an API that we're adding without a real usecase?
3. It is conceivable that the programmer may wish to add a task to a different already existing pool. The current API does not provide this.
   + Can we make `pool` an optional argument to `f

[2022-10-26 07:37] gasche commented on #77
I am thinking that I could post my benchmark sources on Discuss and encourage interested people to run their own experiments. (We would get 50 results of 50 shoddy experiments, instead of one well-designed experiment, but it's better than my one shoddy experiment at least :-) What do you think?

I'm interested in understanding how to write code that does "a little work", it's not obvious. I have t

[2022-10-26 08:22] gasche commented on #92
The distinction between `job` and `task` is intentional. `job` is any `(unit -> unit)` function that can be run on any OCaml domain, without making assumptions about the environment. `task` is a closure that may perform asynchronous-computation effects, and needs to be run inside a specific handler. The `Task` implementation never sends tasks to the workers as-is, it always packages them with effe

[2022-10-26 08:26] gasche commented on #77
Here are results of my benchmarks with an implementation of "idle domains" that still does a bit of work;

[code]

Idle domain code:

[code]

The results are worse than with waiting-on-a-lock idle domains -- we typically see around 20% slowdown caused by the presence of a mostly-idle domain -- but still not that bad. In particular having more domains than hardware threads is much less costly when

[2022-10-31 03:34] kayceesrk commented on #77
It may be better to do rigorous benchmarking in a controlled setting than to let the community run their own experiments. At the end of the day, one has to collect the results and interpret them. This would be much easier if the experiments were run in a controlled setting.

Taking a step back, I believe that moving both the API forwards and doing performance evaluation in parallel may not be idea

[2022-10-31 11:36] Sudha247 commented on #77
IIUC the question was about was when we were spawning more domains that `Domain.recommended_domain_count`, so I ended up creating more domains than cores the benchmark was allowed to use. I don't have the numbers for running them on all available CPUs, but I expect it to be slightly faster with idle domains, in that case.

Right.. It was just to illustrate the difference in allocation/GC activity.

[2022-11-17 09:20] hyphenrf opened #94 "Why is `Task.async`'s callback a thunk only?"
i.e. why is its type not in the form of: `pool -> ('a -> 'b) ->/* 'a -> 'b promise`? Similar in spirit to `Thread.create`

[2022-11-19 08:50] gasche opened #95 "sequential (OCaml 4) implementation of Task"
Over at https://gitlab.com/gasche/domain-shims/-/issues/1, @Sudha247 expressed interest in relying on [domain-shims](https://gitlab.com/gasche/domain-shims) to provide an OCaml 4 version of domainslib. But domain-shims, a pure-OCaml implementation of OCaml 5's `Domain` stdlib module, cannot support effect handlers, so we cannot support the current implementation of domainslib Task module.

I'm cre

[2022-11-19 17:23] Sudha247 commented on #95
Thanks for opening the issue! Indeed, the idea was to have a sequential implementation of the `Task` module. There's a branch lying around for the same - https://github.com/ocaml-multicore/domainslib/tree/4.x. It strips `Task` of both `Domain` and effects, and merely retains a similar `.mli` interface. One issue with that branch is, it doesn't work with code that uses locking, for example channels

[2022-11-19 19:49] gasche commented on #95
Yes, I believe that `Chan` would probably work indeed.

I tested `domain-shims` against all parallel tests in the compiler testsuite that don't use effect handlers. Everything worked out of the box, except one test ([pingpong](https://github.com/ocaml/ocaml/blob/3925372/testsuite/tests/parallel/pingpong.ml)) that does busy-waiting. (Busy-waiting does not work if only one domain runs at a time and